.aside {
    width: 100%;
    padding: 1em 0;
}

.aside > section {
    margin-bottom: 1em;
}

.aside > section:last-child {
    margin-bottom: 0;
}

@media (min-width: 480px) {
    .aside > section {
        float: left;
        width: 50%;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .aside {
        float: left;
        width: 25%;
    }

    .aside > section {
        float:left;
        width: 100%;
        margin-bottom: 1em;
    }
}
