.aside {
    width: 100%;
    padding: 1em 0;
}

.aside > section {
    margin-bottom: 1em;
}

.aside > section:last-child {
    margin-bottom: 0;
}

@media (min-width: 480px) {
    .aside > section {
        float: left;
        width: 50%;
        /* float */
        /* width */
        margin-bottom: 0;
    }
}

@media (min-width: 840px) {
    .aside {
        float: right;
        width: 25%;
        /* float */
        /* width */
    }

    .aside > section {
        float: left;
        width: 100%;
        /* float */
        /* width */
        margin-bottom: 1em;
    }
}

@media (min-width: 1440px) {
    .aside {
        float: right;
        width: 16.6667%;
        /* float */
        /* width */
    }

    .aside > section {
        float: left;
        width: 100%;
        /* float */
        /* width */
        margin-bottom: 1em;
    }
}
