.aside {
    width: 100%;
    padding: 1em 0;
}

.aside > section {
    margin-bottom: 1em;
}

.aside > section:last-child {
    margin-bottom: 0;
}

@media (min-width: 480px) {
    .aside > section {
        /* float */
        /* width */
        margin-bottom: 0;
    }
}

@media (min-width: 840px) {
    .aside {
        /* float */
        /* width */
    }

    .aside > section {
        /* float */
        /* width */
        margin-bottom: 1em;
    }
}
